body{
    background-color: white;
}
.main {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFF;
    height: 100px;
}
.logo {
    flex: 2;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.home{
    color:#87E22D;
}
.capa {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    height: 700px;
    background-image: url(./images/Capa.png);
    background-position: center;
    color: white;
    text-align: left;
}
.capa h5{
    margin: 0px;
}
.capa h1 {
    width: 35%;
    overflow-wrap: break-word;
    margin: 0px;
}
.content {
    background-color:white;
    display: flex;
}
.posts {
    flex: 3;
    display: flex;
    flex-flow: row wrap;

}
.posts div {
    margin-right: 30px;
    margin-top: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.shadow {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5); 
}
.posts h2 {
    width: 70%;
    overflow-wrap: break-word;
    text-align: center;
}
.text {
    align-items: center;
}
.posts span {
    text-align: center;
    color: #c9a96e;
}
.side_bar {
    flex: 1;
    position: relative;
    align-items: stretch;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.side_bar .title {
    border: 1px solid #e5e5e5;
    text-align: center;
}
.categories .items {
    display: flex;
    flex-direction: column;
}
.categories .items div {
    display: flex;
    padding-top: 14px;
    padding-bottom: 14px;
    border-top: 1px solid #e5e5e5;
}
.type {
    flex: 1;
    font-size: 14px;
    color: #666666;
}
.number {
    flex: 1;
    text-align: right;
    font-size: 14px;
    color: #666666;
}
.tags .items {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 170px;
    align-content: stretch;
    margin: 20px;

}
.tags .items div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tags .items span {
    flex: 0;
    font-size: 14px;
    color: #666666;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;

}